<footer class="footer">
  <%# <section class="box-map">
    [box-map]
  </section>%>
  <section class="box-socials">
    <ul>
      <li><a href="<%= social_media.facebook.url %>" target="blank" style="background: #3b5998;"><i class="fa fa-facebook"></i>Facebook</a></li>
      <li><a href="<%= social_media.twitter.url %>" target="blank" style="background: #1b95e0;"><i class="fa fa-twitter"></i>Twitter</a></li>
      <li><a href="<%= social_media.instagram.url %>" target="blank" style="background: #742225;"><i class="fa fa-instagram"></i>Instagram</a></a></li>
      <li><a href="<%= social_media.pinterest.url %>" target="blank" style="background: #ce282e;"><i class="fa fa-pinterest"></i>Pinterest</a></a></li>
    </ul>
  </section>
  <section class="box-legal">
    <div class="container">
      <div class="cols"><p>COPYRIGHT &copy; 2017 THE BANK LAS VEGAS RESTAURANT & BAR <br>
        <% navigation.footer.links.forEach(link =>{ %>
               |   <a href="<%= link.url %>"><%= link.label %></a>
        <% }) %>
      </p></div>
      <div class="cols last">
        <a href="" class="hakkasan-logo">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 855.1 49.9" style="enable-background:new 0 0 855.1 49.9;" xml:space="preserve">
          <path class="hakkasan-logo" d="M146.7,12.6h-4.1l-16.8,15.9V12.6h-3v35.5h3v-18l18.3,18h4.1l-19.1-18.7L146.7,12.6z M203,12.6H199l-16.8,15.9
            V12.6h-3v35.5h3v-18l18.3,18h4.1l-19.1-18.7L203,12.6z M668.7,27.7c1.7-1.6,2.8-3.9,2.8-6.4c0-2.5-1.1-4.8-2.8-6.4
            c-1.6-1.4-3.7-2.3-6.9-2.3h-12.1v35.5h3V29.9h6l13.7,18.2h3.7l-13.7-18.2C665.3,29.8,667.3,29,668.7,27.7z M652.8,27.1V15.5h8.9
            c2.5,0,3.9,0.6,4.9,1.5c1.2,1.1,1.9,2.6,1.9,4.3c0,1.7-0.7,3.2-1.9,4.3c-1,1-2.4,1.5-4.9,1.5H652.8z M26.7,27.1H3.8V12.6h-3v35.5h3
            V29.9h22.8v18.2h3V12.6h-3V27.1z M75.3,12.6L59.9,48.1h3l4.7-10.7h17.3l4.7,10.7h3L77.3,12.6H75.3z M68.9,34.5l7.4-17.2l7.4,17.2
            H68.9z M247.1,12.6l-15.3,35.5h3l4.7-10.7h17.3l4.7,10.7h3l-15.3-35.5H247.1z M240.7,34.5l7.4-17.2l7.4,17.2H240.7z M852.6,14.7
            c-1.6-1.3-3.7-2.1-7-2.1h-13.1v35.5h3V31h10.1c3.2,0,5.4-0.8,7-2.1c2-1.7,3.2-4.2,3.2-7.1C855.9,18.9,854.6,16.4,852.6,14.7z
             M851,26.2c-1.2,1.2-2.7,1.9-5.5,1.9h-9.9V15.5h9.9c2.7,0,4.3,0.7,5.5,1.9c1.1,1.1,1.8,2.7,1.8,4.4C852.8,23.5,852.1,25.1,851,26.2z
             M601.8,29.9h11.7v11.3c-2.6,2.7-6.5,4.5-10.8,4.5c-8.8,0-15.1-6.8-15.1-15.4c0-8.5,6.2-15.4,14.8-15.4c4.4,0,8.3,1.9,10.8,4.6
            l2.1-2.1c-3.1-3.4-7.8-5.4-12.9-5.4c-10.3,0-17.8,8-17.8,18.3c0,10.5,7.7,18.3,18.3,18.3c5.5,0,10.7-2.7,13.7-6.6v-15h-14.7V29.9z
             M720.7,12.1c-10.1,0-17.7,7.9-17.7,18.3s7.6,18.3,17.7,18.3c10.1,0,17.7-7.9,17.7-18.3S730.7,12.1,720.7,12.1z M720.7,45.7
            c-8.6,0-14.6-7-14.6-15.4c0-8.4,6-15.4,14.6-15.4s14.6,7,14.6,15.4C735.3,38.8,729.3,45.7,720.7,45.7z M432.5,42.2l-23.9-29.6h-2
            v35.5h3V18.5l23.9,29.6h2V12.6h-3V42.2z M309.6,30.5c-5.1-3.1-12.2-3.9-12.2-9.2c0-3.9,3.2-6.3,7.2-6.3c2.9,0,5,1.1,7.1,2.9l1.9-2.2
            c-1.6-1.4-4.5-3.6-9.1-3.6c-5.7,0-10.1,3.8-10.1,9.3c0,3.6,2.2,5.7,4.8,7.3c5.2,3.2,12.8,3.9,12.8,10.4c0,4.1-3.8,6.6-7.3,6.6
            c-4.7,0-7.5-2.4-9.5-5.1l-2.2,2c3,4,7.1,6,11.8,6c5.8,0,10.4-3.9,10.4-9.5C315,35,312.5,32.3,309.6,30.5z M359,12.6l-15.3,35.5h3
            l4.7-10.7h17.3l4.7,10.7h3L361,12.6H359z M352.6,34.5l7.4-17.2l7.4,17.2H352.6z M795.5,34.1c0,3.1-0.6,5-1.6,6.6
            c-2,3.1-5.5,5.1-9.6,5.1s-7.6-2-9.6-5.1c-1-1.6-1.6-3.5-1.6-6.6V12.6h-3v21.3c0,3.8,0.8,6.2,2.1,8.3c2.5,3.9,7,6.4,12.1,6.4
            s9.6-2.5,12.1-6.4c1.3-2.1,2.1-4.5,2.1-8.3V12.6h-3V34.1z M537.9,13.3h-5.2l-16.7,16V-1.2h-3.7v30.6l-16.7-16h-5.2L504,25.7
            l-15.2,22.8h4.5l13.3-20.3l5.7,5.3v15.1h3.7V33.4l5.9-5.4l13.4,20.5h4.5l-15.3-22.9L537.9,13.3z"/>
          </svg>
        </a>
      </div>
    </div>
  </section>
</footer>
