<div class="owl-carousel owl-home">


  <% hero_slider.slider.slides.forEach(slide =>{ %>

    <%
      // PROCESS INFORMATION OUTPUT
      for(let key of Object.keys(slide)){
        if(["tmp","buttons"].indexOf(key) < 0 && slide[key]) slide.tmp[key] = slide[key];
      }
      slide.buttons.forEach( (button,i) =>{
        if(button.url && button.label) {
          slide.tmp.buttons[i] = button
        }
      })
    %>

    <%
      let slideType = "custom-type-slide";
      if (["Select Event","Upcoming Event"].indexOf(slide.use_item_type) > -1){
        slideType = "event-type-slide";
      }else if(slide.use_item_type === "Select Artist"){
        slideType = "artist-type-slide";
      }else if(slide.use_item_type === "Select Venue"){
        slideType = "venue-type-slide";
      }
    %>

    <div class="item <%= slideType %>">
    <div class="box-caption">
      <div class="box-data-slider">
        <h2><%- slide.tmp.title.replace(/\n/g,"<br>") %></h2><br>

        <% if(slide.tmp.additional_text){ %>
        <p><%- slide.tmp.additional_text.replace(/\n/g,"<br>") %></p><br>
        <% } %>

        <% slide.tmp.buttons.forEach(button =>{ %>
          <% if(button.label && button.url){ %>
            <a href="<%= button.url %>" class="btn-primary brand-bg"><%= button.label %></a>
          <% } %>
        <% }) %>
      </div>
    </div>
    <% if(['.jpg','.jpeg','.png','.gif','.bmp','.tif','.svg'].indexOf(slide.tmp.media.match(/\.\w+$/)[0]) > -1){ %>
      <img src="<%= slide.tmp.media.replace('squared/320','wide/1920') %>" alt="">
    <% }else{ %>
      <video autoplay loop muted id="myVideo" >
        <source src="<%= slide.tmp.media %>" type="video/mp4">
      </video>
    <% } %>
  </div>


  <% }) /* FOR EACH END */ %>


</div>
